.profileContainer {
    height: 100%;
    overflow: auto;
    padding: 0 0.5em;
    padding-top: 5em;
}

.actionBtn svg{
    font-size: 2em;
    margin-right: 1em;
}

.actionBtn>svg:last-child {
    margin-right: 0;
}

.profileContainer .profile_image {
    width: 80px;
    border-radius: 2.2em;
}

.profileContainer h4 {
    font-size: 1.5em;
    color: var(--textColor);
    margin: 0.5em 0 0.1em 0;
}

.profileContainer p {
    font-size: 1.1em;
    color: #aaaaaa;
    margin: 0;
}

.profileContainer .follow {
    display: flex;
    /* align-items: baseline; */
    margin-bottom: 2.5em;
}

.profileContainer .follow>p:first-child {
    margin-right: 2.5em;
}